body {
  background-color: #d4a2db;
}
#background {
	background: black url(background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 200s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#midground {
	background: url(midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}


.robo-wrapper{
	width: 265px;
	position: absolute;
	transform: translate3D(-50%, -75%, 0);
	animation: robo-movement 10s infinite linear;
}

.robo-body {
      box-shadow: 0 0 0 1em #142eed,
      0 1em 0 1em #142eed,
      -2.5em 1.5em 0 .5em #142eed,
      2.5em 1.5em 0 .5em #142eed,
      -3em -3em 0 0 #142eed,
      3em -3em 0 0 #142eed,
      -2em -2em 0 0 #142eed,
      2em -2em 0 0 #142eed,
      -3em -1em 0 0 #142eed,
      -2em -1em 0 0 #142eed,
      2em -1em 0 0 #142eed,
      3em -1em 0 0 #142eed,
      -4em 0 0 0 #142eed,
      -3em 0 0 0 #142eed,
      3em 0 0 0 #142eed,
      4em 0 0 0 #142eed,
      -5em 1em 0 0 #142eed,
      -4em 1em 0 0 #142eed,
      4em 1em 0 0 #142eed,
      5em 1em 0 0 #142eed,
      -5em 2em 0 0 #142eed,
      5em 2em 0 0 #142eed,
      -5em 3em 0 0 #142eed,
      -3em 3em 0 0 #142eed,
      3em 3em 0 0 #142eed,
      5em 3em 0 0 #142eed,
      -2em 4em 0 0 #142eed,
      -1em 4em 0 0 #142eed,
      1em 4em 0 0 #142eed,
      2em 4em 0 0 #142eed;
      background: #142eed;
      width: 1em;
      height: 1em;
      overflow: hidden;
      margin: 50px 0 70px 65px;
      position:center;
    }

.robo-inner {
	position: absolute;
    left: 50%;
    top: 35%;
    animation: facing-movement 10s infinite linear;
}


@keyframes robo-movement{
	0%   {
		top:45%;
		left: 50%;
	}
	5%   {
		top:45%;
	}
	10%  {
		top:50%;
	}
	15%  {
		top:50%;
	}
	20%  {
		top:45%;
	}
	25%  {
		top:50%;
		left: calc(100% - 135px);
	}
	30%  {
		top:55%;
	}
	35%  {
		top:50%;
	}
	40%  {
		top:45%;
	}
	45%  {
		top:50%;
	}
	50%  {
		top:55%;
		left: 50%;
	}
	55%  {
		top:45%;
	}
	60%  {
		top:50%;
	}
	65%  {
		top:50%;
	}
	70%  {
		top:55%;
	}
	75%  {
		top:50%;
		left: 135px;
	}
	80%  {
		top:45%;
	}
	85%  {
		top:50%;
	}
	90%  {
		top:55%;
	}
	95%  {
		top:50%;
	}
	100% {
		top:45%;
		left: 50%;
	}
}

@keyframes facing-movement{
	0%   {left: 60%;}
	20%  {left: 60%;}
	25%	 {left: 50%;}
	30%	 {left: 40%;}
	70%  {left: 40%;}
	75%	 {left: 50%;}
	80%	 {left: 60%;}
	100% {left: 60%;}
}


@keyframes head-movement{
	0%   {
		border-top-right-radius: 70px;
		border-top-left-radius:  90px;
	}
	20%  {
		border-top-right-radius: 70px;
		border-top-left-radius:  90px;
	}
	25%	 {
		border-top-right-radius: 80px;
		border-top-left-radius:  80px;
	}
	30%	 {
		border-top-right-radius: 90px;
		border-top-left-radius:  70px;
	}
	70%  {
		border-top-right-radius: 90px;
		border-top-left-radius:  70px;
	}
	75%	 {
		border-top-right-radius: 80px;
		border-top-left-radius:  80px;
	}
	80%	 {
		border-top-right-radius: 70px;
		border-top-left-radius:  90px;
	}
	100% {
		border-top-right-radius: 70px;
		border-top-left-radius:  90px;
	}
}


@-webkit-keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: -10000px;
		top: -2000px;
	}
}

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%;
	}
	to {
		background-position: 1300% 600%;
	}
}
